/* The fonts used across all files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* CSS variables for reusablity across all files */
:root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --color-red: #b1454a;
    --color-black: #121212;
    --color-white: #fff;
    --color-creamson: #fff0de;
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  }

* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
}

a {
    text-decoration: none;
    color: inherit;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sushi__hide-scrollbar::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.sushi__hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/** The animations, they were brought up here at the end of the creation of this CSS styling **/
/* START: CSS animation 1 */
.popular__foods__card {
    padding: 38px;
    min-width: 300px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 36px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
  
.popular__foods__card-image {   /* This is the alternative code for if we import images on cards */
    width: 214px;
    height: 160px;
    object-fit: contain;
    transition: 0.5s;
}
  
.popular__foods__card:hover .popular__foods__card-image {   /* Hover effect for images of cards, is this case we don't have, but the code is ready anyway */
    height: 100px;
}
  
.popular__foods__card-title {
    margin-top: 47px;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    font-family: var(--playfair-display);
    color: var(--black-500);
    text-align: center;
    transition: 0.5s;
}

/* Hover affect for the text in the cards */
.popular__foods__card:hover .popular__foods__card-title  {
    font-size: 25px;
}

.popular__foods__card p {
    width: 100%;
    margin-top: 300px;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    font-size: 20px;
    transition: 0.5s;
}

.popular__foods__card:hover p {
    margin-top: 15px;
}
/* END: CSS animation 1 */

/* START: CSS animation 2 */
.booking__form a {
    font-family: var(--plus-jakarta-sans);
    position: relative;
    width: 230px;
    height: 60px;
    margin-top: 30px;
    background: #1f1f23;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1.2em;
    outline: none;
    border: 2px solid #0c0c0c;
    transition: 1.5s;   /* the transition time is set a little long so it will fit the transition affect of the animation */
}
  
.booking__form a span {
    position: absolute;
    width: 10px;
    height: 10px;
    transition: 0.5s;
}

/* Designing of 4 spans, which is the polines at 4 corner of the button */
.booking__form a span:nth-child(1) {    /* top-left one */
    top: -2px;
    left: -2px;
    background: var(--color-black);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    transition-delay: 0s;
}
  
.booking__form a span:nth-child(2) {    /* top-right one */
    top: -2px;
    right: -2px;
    background: var(--color-black);
    transform: rotate(90deg);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    transition-delay: 0.25s;
}
  
.booking__form a span:nth-child(3) {    /* bottom-right one */
    bottom: -2px;
    right: -2px;
    background: var(--color-black);
    transform: rotate(180deg);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    transition-delay: 0.5s;
}
  
.booking__form a span:nth-child(4) {    /* bottm left one */
    bottom: -2px;
    left: -2px;
    background: var(--color-black);
    transform: rotate(270deg);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    transition-delay: 0.75s;
}


.booking__form a:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* this is the code for the animation, the top-left and botto-right are doing the fill */
.booking__form a:hover span:nth-child(1) {
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-delay: 0s;
}
  
.booking__form a:hover span:nth-child(2) {
    top: -9px;
    right: -9px;
    background: transparent;
    transition-delay: 0.25s;
}
  
.booking__form a:hover span:nth-child(3) {
    bottom: 2px;
    right: 2px;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-delay: 0.5s;
}
  
.booking__form a:hover span:nth-child(4) {
    bottom: -9px;
    left: -9px;
    background: transparent;
    transition-delay: 0.75s;
}
/* END: CSS animation 2 */

/* End of animation part */


/* START: navigation bar styling */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--primary-color);
}

.header .header__nav {
    background: var(--color-red);
    height: 80px;
    width: 100%;
}

.header label.header__nav__logo {
    color: var(--color-white);

    line-height: 80px;
    padding: 0 100px;

    font-size: 35px;
    font-weight: bold;
}

.header .header__nav ul {
    float: right;
    margin-right: 20px;
}

.header .header__nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header .header__nav ul li a {
    color: var(--color-white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.header .header__nav ul li a.active,
.header .header__nav ul li a:hover {
    background: #d66c71;
    transition: 0.5s;
}

.header .checkbtn {
    font-size: 30px;
    color: var(--color-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#header__nav__check {
    display: none;
}
/* END: navigation bar styling */

/* START: hero styling */
.hero {
    display: flex;
    min-height: calc(100vh - 74px);
    overflow: hidden;
}

.hero__image {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    position: relative;
    z-index: -1;
}

.hero__image img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero__image h2 {
    position: absolute;
    bottom: 0;
    padding: 50px;
  
    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 140px;
    line-height: 160px;
    color: #fff;
}

.hero__image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
  
    background-color: var(--color-red);
    z-index: -1;
}

.hero__content {
    flex: 1.22;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero__content__info {
    padding: 64px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.hero__content__info h1 {
    font-size: 80px;
    font-weight: 600px;
    font-family: var(--playfair-display);
    color: var(--secondary-color);
}
  
.hero__content__info p {
    margin: 32px 0 0 32px;
  
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
}

.hero__content__btn {
    margin: 41px 0 0 41px;
  
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}
  
.hero__content__order-btn {
    padding: 20px;
    border-radius: 36px;
    min-width: 212px;
    outline: none;
    border: none;
    background: var(--color-black);
  
    cursor: pointer;
  
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.hero__content__chef {
    padding: 64px 64px;
  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  
    background: var(--color-white)
}

.hero__content__quote {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  
    padding-left: 20px;
    min-width: 200px;
}
  
.hero__content__quote img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    margin: 50px;
}
  
.hero__content__quote p {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.8
}
/* END: hero styling */

/* START: about us styling */
.about__us {
    display: flex;
    min-height: 720px;
    overflow: hidden;
}
  
.about__us__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background: var(--color-white);
  
    position: relative;
}
  
.about__us__image div {
    padding: 32px 64px;
  
    flex: 1;
    display: flex;
    align-items: center;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
  
.about__us__image-food img {
    width: 240px;
    height: 160px;
}
  
.about__us__btn {
    position: absolute;
    right: 0;
  
    padding: 12px 32px;
    min-height: 64px;
  
    background: var(--color-black);
    border-radius: 32px 0 0 32px;
    border: 0;
    outline: 0;
  
    color: #fff;
    font-family: var(--plus-jakarta-sans);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  
    cursor: pointer;
}
  
.about__us__btn img {
    object-fit: contain;
    margin-left: 32px;
}
  
.about__us__content {
    padding: 64px;
  
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about__us__content .food__subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
  
    color: var(--color-red);
    opacity: 0.8;
  
    letter-spacing: -0.01em;
}
  
.about__us__content .food__title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--playfair-display);
  
    color: var(--secondary-color);
  
    margin-top: 16px;
}
  
.about__us__content .food__description {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
  
    line-height: 36px;
    letter-spacing: -0.01em;
  
    color: var(--secondary-color);
    opacity: 0.8;
  
    margin: 32px 0px;
}
/* END: about us styling  */

/* START: popular food styling */
.popular__foods {
    padding: 64px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-red);
    background-image: url("/assets/popular_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
  
.popular__foods__title {
    font-size: 56px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 78px;
    color: #fff;
    text-align: center;
}
  
.popular__foods__catalogue {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 56px;
}
  
.popular__foods__btn {
    width: fit-content;
    padding: 20px 30px;
    margin: 80px auto 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    border: none;
    outline: none;
    background: var(--color-black);
    border-radius: 64px;
    cursor: pointer;
}
  
.popular__foods__btn img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 21px;
}
/* END: popular food styling */

/* START: trending styling */
.trending {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
  
.trending__discover {
    position: absolute;
    top: 44%;
    left: 44%;
    z-index: 1;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: var(--color-black);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.trending__discover p {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    color: #fff;
}
  
.trending__meat,
.trending__noodles {
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: row;
}
  
.trending__content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 64px;
}
  
.trending__list {
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}
  
.trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    min-width: 210px;
}
  
.trending__icon {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--color-red);
}
  
.trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}
  
.trending__list p {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-black);
}
  
.trending__image {
    flex: 1;
    position: relative;
    padding: 32px 64px;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
  
.trending__image img {
    width: 254px;
    height: 260px;
    object-fit: contain;
}
  
.trending__subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-red);
    opacity: 0.8;
    letter-spacing: -0.01em;
}
  
.trending__title {
    font-size: 64px;
    font-weight: 600;
    font-family: var(--playfair-display);
    color: var(--color-black);
    margin-top: 16px;
}
  
.trending__description {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    line-height: 36px;
    letter-spacing: -0.01em;
    color: var(--color-black);
    opacity: 0.8;
    margin: 32px 0px;
}

/* Arrows */
.trending__arrow {
    position: absolute;
    z-index: 1;
}
  
.trending__arrow img {
    object-fit: contain;
}
  
.trending__arrow-left {
    left: -2.5px;
    top: 12%;
}
  
.trending__arrow-left img,
.trending__arrow-top img {
    width: auto;
    height: 100%;
}
  
.trending__arrow-top {
    top: -10.5px;
    left: 12%;
}
  
.trending__arrow-bottom {
    bottom: -6.5px;
    right: 12%;
}
  
.trending__arrow-bottom img,
.trending__arrow-right img {
    width: 100%;
    height: auto;
}
  
.trending__arrow-right {
    right: -2.5px;
    bottom: 12%;
}
/* END: trending styling */

/* START: subscribe styling */
.booking {
    padding: 64px;
    background-color: var(--color-red);
    background-image: url('assets/subscribe_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    overflow: hidden;
}
  
.booking h2 {
    font-size: 50px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 123px;
    color: #fff;
    text-align: center;
}
  
.booking p {
    font-size: 18px;
    font-family: var(--plus-jakarta-sans);
    font-weight: 300;
    line-height: 36px;
    margin-top: 32px;
    color: rgba(255, 255, 255, 0.8);
}
/* END: subcribe styling */

/* START: footer styling */
.footer {
    width: 100%;
    padding: 20px 40px;
    background: var(--color-white);
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}
  
.footer__logo {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--playfair-display);
    text-transform: uppercase;
    color: var(--color-black);
    cursor: pointer;
}
  
.footer__logo span {
    color: var(--color-red)
}
  
.footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
}
  
.footer ul:last-child {
    gap: 32px;
}
  
.footer__nav li {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-transform: uppercase;
    color: var(--color-black);
    cursor: pointer;
}
  
.footer__social li {
    width: 42px;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 100%;
}
  
.footer__social li img {
    width: 45%;
    height: 45%;
    object-fit: contain;
}
/* END: footer styling */

/* START: menu styling */
.menu {
    padding: 64px;
  
    display: flex;
    flex-direction: column;
  
    background-color: var(--color-creamson);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    overflow: hidden;
}

.menu__foods__title {
    font-size: 56px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 78px;
    color: var(--color-red);
    text-align: center;
}
  
.menu__foods__filters {
    margin-top: 48px;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}
  
.menu__foods__filter-btn {
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 46px;
    font-size: 16px;
    font-weight: 300px;
    line-height: 25px;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    cursor: pointer;
}
  
.menu__foods__filter-btn img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}
  
.menu__foods__filter-btn.active {
    background: #fff;
    color: var(--color-red)
}
  
.menu__foods__filter-btn:hover {
    background: #fff;
    color: var(--color-red)
}
  
.menu__foods__catalogue {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 56px;
}
  
.menu__foods__card {
    padding: 38px;
    min-width: 260px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px var(--color-black);
}
  
.menu__foods__card-image {
    width: 110px;
    height: 84px;
    object-fit: contain;
}
  
.menu__foods__card-title {
    margin-top: 47px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--playfair-display);
    color: var(--color-black);
    text-align: center;
}
  
.menu__foods__card-details {
    width: 100%;
    margin-top: 32px;
}
  
.menu__foods__card-name {
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.menu__foods__card-name img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
  
.menu__foods__card-name p {
    font-size: 20px; 
    font-weight: 700;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-black);
}
  
.menu__foods__card-name span.price {
    font-size: 15px;
    font-weight: 500;
}
/* END: menu styling */

/* START: menu styling */
.container {
    max-width: 100%;
    width: 100%;
    background: var(--color-white);
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 1000;
}

.container form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}

form .user__details .input__box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user__details .input__box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user__details .input__box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-style: 16px;
    border-bottom-width: 2px;
}

form .button {
    height: 45px;
    margin: 35px 0;
    box-shadow: 0 0 10px var(--color-black);
    border-radius: 5px;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #fff, #fff0de);

    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

form .button input:hover {
    background: linear-gradient(-135deg, #fff, #fff0de);
}
/* END: menu styling */