@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

/* START: navbar media queries */
@media (max-width: 925px) {
    .header label.header__nav__logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .header .header__nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .header .checkbtn {
        display: block;
    }

    .header .header__nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d66c71;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .header .header__nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .header .header__nav ul li a {
        font-size: 20px;
    }

    .header .header__nav ul li a.active,
    .header .header__nav ul li a:hover {
        background: none;
        color: var(--color-black);
    }

    #header__nav__check:checked ~ ul {
        left: 0;
    }
}
/* END: navbar media queries */

/* START: hero media queries */
@media screen and (max-width: 1060px) {
    .hero {
      flex-direction: column;
    }
  
    .hero__image img {
      width: 100%;
  
      transform: matrix(1, 0.05, 0, 1.25, 0, 0) !important;
    }
}
  
@media screen and (max-width: 750px) {
    .hero__image h2 {
      font-size: 70px;
      line-height: 90px;
    }
}
  
@media screen and (max-width: 550px) {
    .hero__image h2 {
      font-size: 40px;
      line-height: 60px;
    }
  
    .hero__content__info {
      padding: 32px;
    }
  
    .hero__content__info h1 {
      font-size: 60px;
    }
  
    .hero__content__info p {
      margin: 32px 0;
    }
  
    .hero__content__btn {
      margin: 41px 0;
    }
  
    .hero__content__chef {
      padding: 32px;
    }
}
/* END: hero media queries */

/* START: about us media queries */
@media screen and (max-width: 1024px) {
    .about__us {
        flex-direction: column;
    }
  
    .about__us__image {
        flex-direction: row;
    }
  
    .about__us__image-food {
      border-bottom: none;
      border-right: 8px solid var(--color-creamson);
    }
  
    .about__us__btn {
      display: none;
    }
}
  
@media screen and (max-width: 750px) {
    .about__us__image {
      flex-direction: column;
    }
  
    .about__us__image-sushi3 {
      border-bottom: 8px solid var(--color-creamson);
      border-right: none;
    }
  
    .about__us__button {
      display: block;
      top: 47%;
    }
}
  
@media screen and (max-width: 550px) {
    .about__us__image-food img {
      width: 50%;
      height: 160px;
  
      object-fit: contain;
    }
  
    .about__us__image div {
      padding: 32px;
    }
  
    .about__us__btn {
      top: 44%;
    }
  
    .about__us__content {
      padding: 32px;
    }
}
/* END: about us media queries */

/* START: popular media queries */
@media screen and (max-width: 550px) {
    .popular__foods {
      padding: 64px 32px;
    }
  
    .popular__foods__card,
    .popular__foods__card.active-card {
      min-width: 100%;
    }
}
/* END: popular media queries */

/* START: trending media queries */
@media screen and (max-width: 1024px) {
    .trending__meat {
      flex-direction: column;
    }
  
    .trending__noodles {
      flex-direction: column-reverse;
    }
  
    .trending__image {
      width: 100%;
      background-size: cover;
    }
  
    .trending__discover {
      display: none;
    }
  
    .trending__arrow {
      display: none;
    }
}
  
@media screen and (max-width: 550px) {
    .trending__image img {
      width: 70%;
      height: 70%;
    }
  
    .trending__content {
      padding: 32px;
    }
}
/* END: trending media queries */

/* START: booking media queries */
@media screen and (max-width: 550px) {
    .booking {
      padding: 64px 32px;
    }
  
    .booking h2 {
      font-size: 68px;
      line-height: 100px;
    }
  
    .booking__form {
      flex-direction: column;
      gap: 20px;
  
      min-width: 100%;
      border-radius: 20px;
      padding: 0;
  
      border: none;
    }
  
    .booking__form input {
      min-height: 50px;
  
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px 20px;
      border-radius: 30px;
    }
  
    .booking__form button {
      min-width: 100%;
    }
}
/* END: booking media queries */

/* START: booking detail media queries */
@media (max-width: 600px) {
    .container .title {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .container form .user__details {
        max-height: 100%;
        overflow-y: scroll;
    }

    form .user__details .input__box {
        margin-bottom: 25px;
        width: 100%;
    }

    .user__details .input__box span {
        font-size: 30px;
    }

    .user__details::-webkit-scrollbar {
        width: 0;
    }
}
/* END: booking media media queries */